# 2024-05-19

## 1378. Replace Employee ID With The Unique Identifier

In [ ]:
import pandas as pd

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    result = pd.merge(employee_uni, employees, how='right', on='id').drop('id', axis=1)
    return result

# 2024-05-20

## 1407. Top Travellers

In [ ]:
import pandas as pd

def top_travellers(users: pd.DataFrame, rides: pd.DataFrame) -> pd.DataFrame:
    # user별 총 주행 거리 계산
    total_distance  = rides.groupby('user_id')['distance'].sum().reset_index()
    
    # merge하여 user 정보와 총 주행 거리를 포함하는 df 생성
    merged = pd.merge(users, total_distance, left_on='id', right_on='user_id', how='left')[['name', 'distance']]
    
    # NaN을 0으로 대체하고 문제에서 제시한 기준대로 정렬
    result = merged.fillna(0).sort_values(by=['distance', 'name'], ascending=[False, True])
    
    result.rename(columns={'distance': 'travelled_distance'}, inplace=True)
    return result

# 2024-05-21

## 1484. Group Sold Products By The Date

In [ ]:
import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    result = activities.groupby('sell_date')['product'].agg(
        # 고유 제품 수 계산
        num_sold='nunique',
        
        # 고유 제품 목록을 ','로 구분한 문자쳘을 products column으로
        products= lambda x: ','.join(sorted(x.unique()))).reset_index()
    
    return result